


body {
	background-image: url("soft-yellow-backgrounds.jpg");
	}

.nav {background-color: black;
	 color: white;
	}

p {background-color: white;
	color: black; 
	font-size: 18px;
	}

h1 {background-color: white;
	color: black;
	text-align: left;}

#Align {text-align: left;}

.jumbotron {
	text-align: center;
    margin-bottom: 0px;
    background-image: url("grandcanyon1.jpg");
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.col-fixed {
    /* custom width */
    width:320px;
}
.col-min {
    /* custom min width */
    min-width:320px;
}
.col-max {
    /* custom max width */
    max-width:320px;
}
#Align1ID{text-align-left:}
#Align2ID{text-align-left:}